html, body {
    margin: 0;
    /* padding: 10px; */
    font-family: 'Roboto Mono', monospace;
    background-color: #282c34;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.image {
    width: 60px;
    position: relative;
    left: 10px;
    top: 8px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20232a;
    color: white;
    text-align: center;
}

.header {
    background-color: #20232a;
    color: white;
}

.main {
    padding-left: 20px;
    color: white;
}